{% extends 'djangoschool/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-sm-10 col-lg-3"></div>
    <div class="col-md-8 col-sm-10 col-lg-6">
        <h2 class="text-center">{{ user_type }} sign up </h2>
        <form method="post" novalidate id="signup">
            <div class="form-group">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                {{ form|crispy }}

                <button type="submit" class="btn btn-success btn-sm">Sign up</button>
            </div>
        </form>
    </div>
    <div class="form-group"></div>
    <div class="col-md-8 col-sm-10 col-lg-3"></div>
</div>
{% endblock %}