{% extends 'djangoschool/base.html'%}

{% block content %}
<h2 class="text-center">Django School</h2>
<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel" style="z-index: -3;">
    <!--Indicators-->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-2" data-slide-to="1"></li>
        <li data-target="#carousel-example-2" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div class="view">
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg"
                    alt="First slide">
                <div class="mask rgba-black-light"></div>
            </div>
            <div class="carousel-caption">
                <h3 class="h3-responsive">Light mask</h3>
                <p>First text</p>
            </div>
        </div>
        <div class="carousel-item">
            <!--Mask color-->
            <div class="view">
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg"
                    alt="Second slide">
                <div class="mask rgba-black-strong"></div>
            </div>
            <div class="carousel-caption">
                <h3 class="h3-responsive">Strong mask</h3>
                <p>Secondary text</p>
            </div>
        </div>
        <div class="carousel-item">
            <!--Mask color-->
            <div class="view">
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg"
                    alt="Third slide">
                <div class="mask rgba-black-slight"></div>
            </div>
            <div class="carousel-caption">
                <h3 class="h3-responsive">Slight mask</h3>
                <p>Third text</p>
            </div>
        </div>
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->


<div class="row mt-1">
    <div class="col-sm-12 col-md-6 col-lg-4" id="mission">
        <h3 class="h3-responsive"><b>Our Mission</b></h3>
        <p>Our mission is to develop young men with active and creative minds, a sense of understanding and compassion
            for others, and the courage to act on their beliefs. We stress the total development of each child:
            spiritual, moral, intellectual, social, emotional, and physical.</p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <h3 class="h3-responsive"><b>Our Vision</b></h3>
        <p>Our vision is to develop well rounded, confident and responsible individuals who aspire to achieve their full
            potential. We will do this by providing a welcoming, happy, safe, and supportive learning environment in
            which everyone is equal and all achievements are celebrated.</p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <h3 class="h3-responsive"><b>Core Values</b></h3>
        <ul>
            <li>Integrity</li>
            <li>Leading through innovation</li>
            <li>Pursuing excellence </li>
            <li>Growing by learning</li>
        </ul>
    </div>
</div>

{% endblock %}